<div ngClass="container">
  <div *ngFor="let row of field; let x = index" ngClass="field-row">
    <p *ngFor="let item of row; let y = index">
      <img *ngIf="!shouldRenderBlankItem(x, y) && !shouldRenderShipItem(x, y)" src="../../assets/img/default.svg" alt="field-item" ngClass="field-item">
      <img *ngIf="shouldRenderBlankItem(x, y) && !shouldRenderShipItem(x, y)" src="../../assets/img/sea.svg" alt="field-item" ngClass="field-item">
      <img *ngIf="shouldRenderShipItem(x, y)" src="../../assets/img/ship.svg" alt="field-item" ngClass="field-item">
    </p>
  </div>
</div>
